body{
	display:flex:
	justify-content:center;
	align-items:center:
	width:100vw !important;
	height:100vh !important;
	background-color:#765BEE;
}

	
.search {
  position: relative;
  display: inline-block;
}

.input {
  padding: 5px;
  padding-right: 30px; /* Adjust based on the button width */
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
   z-index:3;
	
  /* color: white; */
}
